.card {
    width: 240px !important;
    height: 200px !important;
    border: none !important;
    box-shadow: 0 2px 10px #EBE8DB;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 3px 15px #c0beb3;
    transform: translateY(-8px);
}